sudo: false
language: php
php:
- 7.2
- 7.3
- 7.4
services:
- redis-server
- memcached
before_script:
- composer self-update
- composer install --prefer-source
- chmod -R 755 tests/bin/memcached.sh
- tests/bin/memcached.sh
script:
- chmod -R 777 tests/build
- "./vendor/bin/phpunit --coverage-clover tests/build/clover.xml"
- chmod 777 tests/build/clover.xml
notifications:
  slack:
    secure: HeSViK/BymuF7rsj70c0HpoTO4KyliZ8SCOYSH+uwnXQAVRQGVy2f1D34eALguKshJgIdC8Rza134AxLDEHOXQT6gJSZfx5L/IfTKK7addxyI/8iwM8d53hmWxtdD8K9MTK/yaNx7BasNdSfNz2IL/W7FhcWT78nhVrFwuKKY6E=
